

div.pitch_headline { background: url(../../images/en/pitch.png) no-repeat 0 0; width: 547px; height: 100px; }
div.trial_headline { background: url(../../images/en/trial.png) no-repeat 0 0; width: 547px; height: 100px; }
div.pricing_headline { background: url(../../images/en/pricing.png) no-repeat 0 0; width: 547px; height: 100px; }
div.overview_headline { background: url(../../images/en/overview.png) no-repeat 0 0; width: 547px; height: 100px; }
div.newsletter_headline { background: url(../../images/en/newsletter.png) no-repeat 0 0; width: 547px; height: 100px; }
div.support_headline { background: url(../../images/en/support.png) no-repeat 0 0; width: 547px; height: 100px; }
